* {
	border:0;
	margin:0;
	padding:0;
}
body {
	/*background: #373536;*/
	font-family: 'Neucha';
	padding-top:65px;
	overflow-x:hidden;
	background:#d2d2d2;
}
br {
	clear:both;
}
/* --- Header section */
header {
	width:100%;
	background:#fff;
	height:65px;
	box-shadow: 0 1px 6px #99999B, 0 1px 6px #99999B;
	position: fixed;
	top:0;
	left:0;
	z-index: 3;
}
header .container {
	max-width: 1024px;
	margin:0 auto;
	position: relative;
}
header .container, header #logo, header #user, header #search {
	height:100%;
}
header #logo, header #user{
	width:20%;
	position: absolute;
	top:0;
}
/* --- Logo */
header #logo {
	left:0;
}
header #logo img {
	width: 140px;
    margin-top: 10px;
    float: right;
    margin-right: 17px;
}
/* --- Search */
header #search{
	max-width:60%;
	margin:0 auto;
	border-left:7px solid #169a18;
	border-right:7px solid #169a18;
	position: relative;
}
header #search input {
    border: 1px solid #169a18;
    font-size: 20px;
    width: 77%;
    margin: 0 auto;
    display: block;
    padding: 8px 1% 2px 8%;
    position: relative;
    top: 15px;
    font-family: 'Neucha';
}
header #search i {
	position: absolute;
    font-size: 22px;
    top: 21px;
    left: 8%;
    z-index: 4;
    border-right: 1px solid;
    padding-right: 8px;
    color:gray;
}
/* --- User */
header #user {
	right:0;
}
header #user div.container {
	margin-left:21%;
	color:gray;
	position: relative;
}
header #user div i {
	margin-right: 15px;
    float: left;
	position: relative;
	top: 16px;
	font-size: 35px;
	cursor: pointer;
}
header #user div p {
	font-size: 20px;
	line-height: 75px;
}
header #user div#user-menu {
    position: absolute;
    width:240px;
    padding:10px 15px;
    height:100px;
    background:white;
    border:1px solid #d7d7d7;
    top:115%;
    right:71%;
    opacity: 0;
    transition:.3s;
}
header #user div#user-menu.active {
	opacity: 1;
}
header #user div#user-menu:before{
	content:" ";
	position: absolute;
	top:-15px;
	right: 15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 15px 15px;
	border-color: transparent transparent #fbfbfb transparent;
}
header div div#user-menu i{
    border:1px solid gray;
    width:50px;
    height:50px;
    border-radius:50%;
    text-align:center;
    line-height:50px
}
header div div#user-menu p#user-mail{
	font-size:16px;
	line-height: 30px;
    width: 168px;
    float: right;
    text-align: center;
    border-bottom: 1px solid;
}
header div div#user-menu #options {
	width: 168px;
    float: right;
    text-align: right;
}
header div div#user-menu #options span {
	font-size: 18px;
    line-height: 40px;
    cursor: pointer;
    padding: 1px 11px;
    border: 1px solid;
}
header div div#user-menu #logout{
    height: 30px;
    width: 270px;
    vertical-align: bottom;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 31px;
    background:gray;
    text-align: right;
}
header div div#user-menu #logout span{
	color:white;
	cursor: pointer;
    padding: 1px 11px;
    border: 1px solid;
    margin-right:15px;
}
/* --- Left appearing menu */
div#menu-trigger {
    width: 30px;
    float:left;
    margin-top:15px;
    cursor:pointer;
    position: relative;
    z-index: 3;
}
div#menu-trigger:hover div{
	background:#818181;
}
div#menu-trigger div {
    margin: 5px 0;
    height: 5px;
    background: #3c4e60;
    transition: .3s;
    border-radius: 2px;
}
nav#main-menu {
    height: 100%;
	position: fixed;
	top: 65px;
	left:-300px;
	z-index: 2;
	width:200px;
	background:transparent;
	transition:.8s;
}
nav#main-menu.active {
	left:0px;
    background: rgba(255,255,255,.8);
}
nav#main-menu ul{
    list-style-type:none;
}
nav#main-menu ul li {
    margin:0;
	padding: 0 0 0 20px;
    background:transparent;
    transition:.1s;
    position: relative;
}
nav#main-menu ul li:hover {
	background:rgba(50,50,50,.05);
	animation:amin .3s;
	-webkit-amination:amin .3s;
}
nav#main-menu ul li a{
	padding:10px 0;
    text-decoration:none;
    color:black;
    display:block;
    transition:.1s;
}
@keyframes amin {
	0% {
		left:-3px;
	}
	50% {
		left:3px;
	}
	100% {
		left:0px;
	}
}
@-webkit-keyframes amin {
	0% {
		left:-3px;
	}
	50% {
		left:3px;
	}
	100% {
		left:0px;
	}
}
/* --- Content */
#content {
	max-width: 1024px;
	margin:0 auto;
	position: relative;
}
/* --- all recipes */
#content #recipe-results .recipe {
    max-width: 60%;
    max-height:200px;
    position: relative;
    margin: 0 auto 35px;
    border-left: 7px solid #169a18;
    border-right: 7px solid transparent;
    background:white;
}
#content #recipe-results .recipe div.recipe-pic {
	float:left;
	overflow: hidden;
    height: 200px;
    background: #b3b3b3;
    position: relative;
    width:37%;
}
#content #recipe-results .recipe div.recipe-pic img{
	height:100%;
	min-width: 100%;
}
#content #recipe-results .recipe.right {
	border-left-color: transparent;
	border-right-color:#169a18;
}
#content #recipe-results .recipe.right div.recipe-pic {
	float:right;
	margin-right:0;
}
#content #recipe-results .recipe div.recipe-pic .votebox{
	height: 0;
    width: 96%;
    padding-left: 4%;
    text-align: left;
    background: rgba(0,0,0,.3);
    position: absolute;
    bottom: 0;
    left: 0;
    transition:.5s;
}
#content #recipe-results .recipe div.recipe-pic:hover .votebox {
	height:35px;
}
#content #recipe-results .recipe.right div.recipe-pic .votebox {
	padding-left: 0;
	padding-right: 4%;
	text-align: right;
}
#content #recipe-results .recipe div.recipe-pic .votebox i {
	color:#F1F1F1;
	font-size:22px;
	line-height:36px;
    margin: 0 4px;
    cursor:pointer;
}
#content #recipe-results .recipe .description {
	width:61%;
	position: relative;
	height: 185px;
    padding-top: 15px;
    padding-left:2%;
	float:left;
}
#content #recipe-results .recipe.right .description {
	float:right;
}
#content #recipe-results .recipe .description h3{
    border-bottom: 1px solid #169a18;
    margin-bottom: 4px;
}
#content #recipe-results .recipe .description ul {
	list-style-type:none;
	overflow:visible;
}
#content #recipe-results .recipe .description ul li {
	margin-left:15px;
}
#content #recipe-results .recipe .about {
	position: absolute;
    bottom: 30px;
}
#content #recipe-results .recipe .stars {
	width: 120px;
    height: 25px;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left:2%;
}
#content #recipe-results .recipe.right .stars {
	right:2%;
	left:auto;
}
#content #recipe-results .recipe .stars div {
	overflow: hidden;
}
#content #recipe-results .recipe .save-this-recipe{
	width: 60px;
    height: 20px;
    position: absolute;
    right: 15px;
    bottom: -10px;
    text-align: center;
    border-top: 1px solid #D0D0D0;
}
#content #recipe-results .recipe .save-this-recipe div {
	width: 40px;
	margin:0 auto;
	overflow:hidden;
}
#content #recipe-results .recipe.right .save-this-recipe{
	right: auto;
	left:15px;
}
#content #recipe-results .recipe .save-this-recipe span{	
	padding:4px 1px;
	background:#00c65b;
	color:white;
	display:inline-block;
	position: relative;
	overflow: hidden;
	top: -38px;
	cursor:pointer;
	-webkit-transition-delay:.7s;
    transition-delay:.7s;
	transition:.3s;
}
#content #recipe-results .recipe .save-this-recipe span:before, #content #recipe-results .recipe .save-this-recipe span:after {
    content: "-------";
    white-space: nowrap;
    position: absolute;
    top: 14px;
    left: 1px;
    letter-spacing: 3px;
    display: block;
    color: white;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
#content #recipe-results .recipe .save-this-recipe span:after {
	right: 37px;
    top: -10px;
    left: 0;
}
#content #recipe-results .recipe .save-this-recipe:hover span {
	top:0;
	-webkit-transition-delay:0s;
    transition-delay:0s;
}
#content #recipe-results .recipe .more-recipe {
    position: absolute;
    right: -37px;
    bottom: 15px;
    height: 16px;
    transform: rotate(90deg);
    background: #169A18;
    padding: 3px;
    padding-bottom: 3px;
    border-bottom: 0;
    cursor: pointer;
    color: white;
}
/* --- Modal Window */
#modal-recipe {
	display:none;
}
#modal-recipe.active {
	display:block;
    position: fixed;
    z-index: 1;
    top: 90px;
    left: 10%;
    width: 80%;
}
#modal-recipe.active #side-culumn{
	width:30%;
	margin-left:3%;
	background: #6aabfd;
	min-height: 450px;
    float: left;
}
#modal-recipe.active #side-culumn .recipe-pic {
	padding-top: 10px;
}
#modal-recipe.active #side-culumn .recipe-pic img{
	display: block;
	width:90%;
	margin:0 auto;
}
#modal-recipe.active #side-culumn div#time-to-cook i{
    float:left;
    font-size:26px;
    margin:0 10px;
    margin-left:17%;
}
#modal-recipe.active #side-culumn div#time-to-cook i + p {
    line-height: 31px;
    font-size: 22px;
}
#modal-recipe.active #recipe-order-step{
	height: 75px;
    float: left;
    width: 67%;
}
#modal-recipe.active #recipe-order-step #stage0, #modal-recipe.active #recipe-order-step #stage1, #modal-recipe.active #recipe-order-step #stage2 {
	width:60px;
	height:60px;
	float:left;
	border-radius: 50%;
	background:white;
	box-shadow: 0 0 1px black;
	margin-top:0;
}
#modal-recipe.active #recipe-order-step div {
	width:10%;
	height:20px;
	float:left;
	background: white;
}
#modal-recipe.active #single-recipe-description{
	width: 67%;
    background: white;
    min-height: 300px;
    float: left;
    position: relative;
}
#modal-recipe.active #modal-switcher {
	position: absolute;
	top:-10px;
	right:-10px;
	z-index: 4;
	font-size:18px;
	width:20px;
	height:20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	background:white;
	box-shadow: 0 0 1px gray;
	cursor:pointer;
}
/* --- Footer */
footer {
	height: 70px;
	line-height: 70px;
	background:white;
}
footer div.container{
	width:1024px;
	margin:0 auto;
	text-align: center;
	position: relative;
}
footer div.container span {
	display: inline-block;
}
footer div#socials {
    display: inline-block;
    width:20%;
    position: absolute;
    top: 27px;
    right:0;
}
footer div#socials i {
	float: left;
    font-size: 23px;
    margin-left: 5px;
    cursor:pointer;
    color:black;
    transition:.3s;
}
footer div#socials:hover i {
	color:gray;
}
footer div#socials i:hover {
	color:black;
}
footer div#socials i:first-child{
    padding-left: 21%;
}